<div class="col-10 offset-1" about>
  <h1>About Slicey</h1>
  <p>
    Slicey was built by <a target="_blank" href="https://github.com/weds2800">Terri</a>.  A QuickBooks Consultant who also loves to cook.
  </p>
  <br />
  <p>
    She single-handidly makes dinner almost every night while somehow finding the time to teach QuickBooks users its ins and outs during the day.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <% image_tag 'terri.png', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Terri Wilson</h2>
    <br />
    <p>
      Terri Wilson is a QuickBooks Consultant who really wants to be able to program.  
    </p>    
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
